/* Header */

/* Сброс */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Noto Sans, Helvetica, Arial, sans-serif;
  background-color: #15171e;
}

/* header */
.header {
  background-color: #15171e;
  padding-left: 150px;
  padding-right: 175px;
}

.header__top-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}


/* Icons */
.iconsupport {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  justify-content: space-between;
}

.downloadicon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  justify-content: space-between;
}

.accicon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  justify-content: space-between;
}

/* Navigation */
.header__navigation {
  display: grid;
  grid-template-columns: 5fr 2.68fr 1fr;
  grid-template-rows: 1fr;
  gap: 8px;
  position: sticky;
  top: 0;
  background-color: #15171e;
  padding: 15px 175px 15px 150px;
}

.games-navigation {
  background-color: #23252b;
  padding: 1px;
  border-radius: 5px;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.options__link {
  text-decoration: none;
  color: currentColor;
  align-items: center;
}

.logo {
  height: 72px;
  width: 200px;
}

.logo img {
  max-width: 100%;
}

/* search */
.search {
  display: contents;
  border-radius: 5px;
  background-color: #23252b;
  flex-direction: row;
  border-radius: 5px;
}

.search-label {
  display: flex;
  padding-left: 12px;
  width: 100%;
  height: 100%;
  background-color: #23252b;
  border-radius: 5px;
}

.search-icon {
  height: 24px;
  max-width: 100%;
  align-self: center;
}

.search-input {
  background-color: #23252b;
  border-style: none;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.search-input::placeholder {
  font-size: 16px;
}

.search-input:focus-visible {
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 13px;
  color: #cccccc;
}

.search:hover, .search-label:hover, .search-icon:hover, .search-input:hover {
  border-radius: 5px;
  background-color: #393e49;
  cursor: pointer;
}

/* Dropdown Button */
.dropbtnacc {
  background-color: #15171e;
  color: #f5f5f5;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-weight: bold;
}

.dropbtn-money {
  background-color: #23252b;
  color: #cccccc;
  padding: 17px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.dropbtn {
  background-color: #23252b;
  color: #cccccc;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-weight: bold;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  background-color: #2c3038;
  border-radius: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#252730;
  min-width: 250px;
  z-index: 1;
  border-radius: 5px;
  border-color: #cccccc41;
  border-style: double;
  border-width: 1px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #cccccc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #393e49;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #343a47;
}

.dropdown:hover .dropbtnacc {
  background-color: #2c3038;
  border-radius: 5px;
}

.dropdown:hover .dropbtn-money {
  background-color: #343a47;
  border-radius: 5px;
}

/* .content-title */
.content-title {
  color: #f5f5f5;
}

/* Сontent - card */
.content {
  margin: 0px;
  padding: 0px 175px 0 150px;
  margin-bottom: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  color: #f5f5f5;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 80px;
}

.card-li {
  background-color: #23252b;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.overview {
  padding: 24px 24px 0 24px;
  letter-spacing: 0.25px;
}

.game-icon {
  width: 20px;
  max-width: 100%;
  vertical-align: middle; 
  margin: 0px 5px 0 0;
}

.game-name {
  font-size: 12px;
  font-weight: 800;
  color: #cccccc;
  margin: 0px;
}

.game-addon {
  font-size: 18px;
  font-weight: 700;
  color: #f5f5f5;
  margin: 0px;
  padding-top: 5px;
}

.gold {
  font-size: 14px;
  color: rgb(255, 174, 0);
  margin: 0px;
  padding-top: 10px;
  line-height: 20px;
}

.game-genre {
  font-size: 12px;
  color: #cccccc;
  margin: 0px;
  padding-top: 5px;
  line-height: 20px;
}

.game-price {
  font-size: 16px;
  font-weight: 700;
  color: #f5f5f5;
  padding: 30px 24px 10px 24px;
  margin-top: auto;
}


.img-container {
  height: 170px;
  overflow: hidden;
  border-radius: 5px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 5%;
}

/* .pre-footer */
.pre-footer {
  background-image: url(images/prefooter/background.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  border-top: 1px solid #cccccc70;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.laptop {

}
.laptop > img {
  width: 750px;
  max-width: 100%;
  margin-left: 250px;
  margin-top: 100px;
}

.join {
  
}

.title-prefooter {
  color: #f5f5f5;
  font-size: 45px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0px;
  padding: 150px 0px 20px 0px;
}

.pretitle-prefooter {
  color: #cccccc;
  font-size: 18px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.prefooterbtn > button {
  cursor: pointer;
  font-size: 20px;
  color: #f5f5f5;
  font-weight: 700;
  padding: 25px 40px 25px 40px;
  border-radius: 5px;
  border-style: none;
}

.prefooterbtn > button:hover {
  outline: 0;
border-style: double;
  border-color: #f5f5f54b;
  border-width: 1px;
}
.prefooterbtn > button:active {
  outline: 0;
}

.imgwindows {
  width: 30px;
  max-width: 100%;
  vertical-align: middle;
  margin-right: 5px;
}

.downloadbtn {
 background-color: #0074e0;
}

.detailsbtn {
  background-color: #2a2c34;
  margin-left: 20px;
}

/* .footer */
.footer {
  background-color: #15171e;
  width: 100%;
  height: 550px;
  border-top: 1px solid #cccccc41;
}

/* =============================== */



